.bg{
    color: cornsilk;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdDrBOAD4AQBKquVOsyBGMqtWGglKhIGzt5w&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 220px;
}